body{
      text-align: center;
      font-family: 'Fredoka One', cursive;
      background-color: #007BFF;
    }

#productos li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

.productos,
.carrito {
  margin: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  cursor: pointer;
}

.carrito button {
  display: block;
  margin-top: 10px;
  background-color: green; /* Cambiar el color de fondo a verde */
  color: white; /* Cambiar el color del texto a blanco */
}

#lista-carrito li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#carrito-total {
  font-weight: bold;
  margin-top: 10px;
}

/* Cambiar el cursor a una mano cuando se selecciona un producto */
li:hover {
  cursor: pointer;
}